@import "tailwindcss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
body {
  font-family: "Roboto", Arial, sans-serif;
}
@theme {
  --color-accent: #428bca;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .overlay {
    @apply fixed inset-0 bg-black/50 flex items-center justify-center z-50;
  }
  .input {
    @apply border-b border-gray-300 p-1 w-full dark:text-white outline-none;
  }
  .label {
    @apply block group-focus-within:text-accent;
  }
  .color-picker-btn {
    @apply size-6 rounded-full cursor-pointer;
  }
  .error-message {
    @apply text-red-600 mt-1 text-xs;
  }
  .btn {
    @apply p-2 cursor-pointer rounded-full border border-gray-400 hover:border-black dark:hover:border-gray-300;
  }
}
